html{
    background-color: bisque;
}

.body{
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    font-size: 50px;
}
